batchgenerators==0.21
einops==0.6.0
fvcore==0.1.5.post20220414
imageio==2.31.1
matplotlib==3.5.1
MedPy==0.4.0
nibabel==4.0.1
numpy==1.20.1
pandas==1.2.3
Pillow==9.5.0
scikit-image==0.18.1
scikit-learn==1.0.2
scipy==1.6.2
SimpleITK==2.2.0
tifffile==2021.3.31
timm==0.4.12
torch==2.0.1
torchvision==0.15.2
tqdm==4.32.1
typing==3.7.4.3

